@import 'consts';

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$black: #000;
$cat-font-size: 22px;
$text-color: #4d4d4d;

@mixin dark-shadow {
  box-shadow: 3px 3px 10px #333;
}

/* Styles */
body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: $text-color;
  padding: 20px 100px;

  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
  padding: 12px;
}

h2, h3, h4 {
  color: $black;
}

h4 {
  margin: 10px 20px;
}



a {
  text-decoration: none;
}

.header{
  .header-element {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .menu {
    width:20%;
  }

  .logo {
    width:80%;
    img {
      width: 100%;
    }
  }
}

.footer {

  margin-top: 50px;
  text-align: center;
  .socials {
    margin: 20px 0;
    .icontain {
      margin-left: 10px;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      background: black;
      border-radius: 30px;
      display: inline-block;

      i {
        margin-top: 8px;
        color: $yellow;
        font-size: 25px;
      }
    }
  }

  .background-section {
    background: $yellow;
    padding: 20px;

    .footer-title {
      text-align: left;
      margin-bottom: 20px;
    }

    .footer-button{
      margin: 0 auto;
      display: inline-block;
      padding: 15px;
      width: 70%;

      @include dark-shadow;
    }

    .footer-line {
      margin-top: 20px;
    }


  }
}

.text-small {
  font-size: 12px;
}
.text-normal {

}
.text-big {
  font-size: 24px;
  line-height: 1.2em;
}

.text-bigger {
  font-size: 30px;
  line-height: 1.2em;

}


.home-page {

  .home-page-main {

    padding: 0 10px;

    .button {
      text-align: center;
      height: 55px;
      line-height: 55px;
      text-decoration: none;
      border: 1px solid $black;
      box-sizing: border-box;
      background: $yellow;
      color: $black;
      display: inline-block;
      width: 100%;
      font-size: $cat-font-size;
    }

    .text-info-section {
      margin: 20px 0;
      text-align: center;
    }

    .bullet-list {
      margin-top: 20px;

      .bullet-item {

        border-bottom: 2px solid black;
        padding: 20px;
         a {
           color: $text-color;
         }

        i {
          font-size: 20px;
          color: $yellow;
        }
        .bullet-text {
          padding-left: 10px;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .footer {
    .socials {
      margin: 0;
      margin-bottom: 50px;
      .icontain {
        i {
          color: white;
        }
      }
    }
  }
}

.listing-details {
  position: absolute;
  width: 100%;
  background: white;
  height: 110px;
  left:0;
}

//from etsy home page

.listing {

  box-sizing: border-box;
  width: 32%;
  margin-right: 4px;

  img {
    width: 100%;
  }
  .img {
    border: 1px solid $black;
    width: 100%;
    height: 150px;
  }

  .name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #eee;
  }

  &.gallery {
    display: inline-block;
  }
  .title {
    display: inline-block;
    padding: 10px;
  }

  &.etsy-fu {
    width:30%;

    input {
      width: 100%;
    }
  }
}

.shop-page {
  .listing-details {


    .title {
      height: 100px;
      width: 50%;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
    }

    .more {
      height: 100px;
      width: 50%;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      padding: 10px;
      text-align: center;

      .button {

        text-align: center;
        padding: 10px;
        margin: 10px;
        border: 1px solid $black;
        box-sizing: border-box;
        background: $yellow;
      }
    }

  }
}
.section-button {

  background: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;

  vertical-align: top;
  text-align: center;
  position: relative;
  height: 170px;



  .button-body {
    border: 1px solid $black;
    position: relative;


    .button-description {
      text-align: left;

      background: white;
      position: absolute;
      top: 10px;

      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      color: white;
      width: 60%;
    }
  }

  .button-text {
    border: 1px solid $black;
    line-height: 50px;
    font-size: $cat-font-size;
    height: 50px;

  }

  &.section {
    .button-body {
      border-top: 0;
      height:120px;

      .button-description {
        left: 20px;


      }
    }

    .button-text {
      background: $yellow;
    }
  }

  &.home {
    .button-body {
       height: 100%;

      .button-description {
        left: 0px;


      }
    }

    .button-text {
      position: absolute;
      z-index: 1;
      bottom: 10px;
      right: 10px;
      width: 70%;
      background: rgba(255,255,255,0.6);
      @include dark-shadow;
    }

  }
  //what?

  .title {
    padding: 5px;
    cursor: pointer;
  }


  &:hover {
    .title {
      background: $black;
      color: white;
    }
  }

  &.active {
    .title {
      background: white;
      cursor: default;
      color: green;
    }

  }

  .category2 {
    .title {
      cursor: pointer;
      font-size: 14px;
      padding-left: 20px;
      color: $black;
    }

    &:hover {
      .title {
        background: grey;
        color: white;
      }

    }

  }
}

.product-page {
  .images-panel {
    .main-image {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .thumbnails {
      .sec-image {
        width: 33%;
        display: inline-block;
        img {
          width: 100%;
        }
      }

    }
  }

  .button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid $black;
    box-sizing: border-box;
    background: $yellow;
  }
}

.filter-button {
  width: 50%;
  display: inline-block;

  display: inline-block;
  width: calc(50% - 22px);
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  &.selected {
    background: grey;
    color: white;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    padding: 0;
  }

  .shop-page, .product-page, .about-page {
    padding: 0 10px;
  }

  .etsy-fu-page {
    .etsy-fu.listing {
      width:100%;
    }
  }
}


