/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$yellow: lightgoldenrodyellow;
$black: #000;
$cat-font-size: 22px;

/* Styles */
body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  padding: 20px 100px;

  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
  padding: 12px;
}

h2 {
  color: $vin-blue;
}


.header{
  .header-element {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .menu {
    width:20%;
  }

  .logo {
    width:80%;
    img {
      width: 100%;
    }
  }
}
.home-page {
  .button {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid $black;
    box-sizing: border-box;
    background: $yellow;
    color: $black;
    display: inline-block;
    width: 100%;
  }

  .text-info-section {
    text-align: center;
  }
}



.listing-details {
  position: absolute;
  width: 100%;
  background: white;
  height: 110px;
  left:0;
}

//from etsy home page

.listing {
  border: 1px solid #eee;
  width: 32%;

  img {
    width: 100%;
  }
  .img {
    width: 100%;
    height: 100px;
  }

  &.gallery {
    display: inline-block;
  }
  .title {
    display: inline-block;
    padding: 10px;
  }

  &.etsy-fu {
    width:30%;

    input {
      width: 100%;
    }
  }
}

.shop-page {
  .listing-details {


    .title {
      height: 100px;
      width: 50%;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
    }

    .more {
      height: 100px;
      width: 50%;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      padding: 10px;
      text-align: center;

      .button {

        text-align: center;
        padding: 10px;
        margin: 10px;
        border: 1px solid $black;
        box-sizing: border-box;
        background: orangered;
      }
    }

  }
}
.category {

  background: lightblue;
  margin-top: 20px;

  vertical-align: top;
  text-align: center;

  .cat-title {
    background: $yellow;
    border: 1px solid $black;
    height: 50px;
    line-height: 50px;
    font-size: $cat-font-size;
  }

  .cat-body {
    border: 1px solid $black;
    border-top: 0;
    height: 100px;
    position: relative;

    .cat-description {
      text-align: left;

      background: white;
      position: absolute;
      top: 10px;
      left: 20px;

      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      color: white;
    }
  }

  .title {
    padding: 5px;
    cursor: pointer;
  }


  &:hover {
    .title {
      background: $black;
      color: white;
    }
  }

  &.active {
    .title {
      background: white;
      cursor: default;
      color: green;
    }

  }

  .category2 {
    .title {
      cursor: pointer;
      font-size: 14px;
      padding-left: 20px;
      color: $black;
    }

    &:hover {
      .title {
        background: grey;
        color: white;
      }

    }

  }
}

.product-page {
  .images-panel {
    .main-image {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .thumbnails {
      .sec-image {
        width: 33%;
        display: inline-block;
        img {
          width: 100%;
        }
      }

    }
  }

  .button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid $black;
    box-sizing: border-box;
    background: orangered;
  }
}


@media only screen and (max-device-width: 480px) {
  body {
    padding: 0px 10px;
  }

  .etsy-fu-page {
    .etsy-fu.listing {
      width:100%;
    }
  }
}


