/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {

  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  padding: 20px 100px;

  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.header{
  .header-element {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .menu {
    width:20%;
  }

  .logo {
    width:80%;
    img {
      width: 100%;
    }
  }
}
.home-page {
  .button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    background: lightgoldenrodyellow;
    display: inline-block;
    width: calc(50% - 20px);
  }
}

.category {
  display: inline-block;
  width: 30%;
  height: 50px;
  margin: 10px;
  background: lightblue;
  width: calc(30% - 10px);
  vertical-align: top;
  text-align: center;
}

.listing-details {
  position: absolute;
  width: 100%;
  background: white;
  height: 100px;
  left:0;
}

@media only screen and (max-device-width: 480px) {
  body {
    padding: 0px 10px;
  }

}


